name: PyTest

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        resolution: ["highest", "lowest-direct"]

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          version: "0.5.18"
          enable-cache: true
      - name: Test
        run: uv run -p ${{ matrix.python-version }} --resolution ${{ matrix.resolution }} pytest
